<configuration>
	<property name="LOG_DIR" value="logs"/>

	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
			<key>runId</key>
			<defaultValue>no-runId</defaultValue>
		</discriminator>

		<sift>
			<appender name="FILE-${runId}" class="ch.qos.logback.core.FileAppender">
				<file>${LOG_DIR}/thread-${runId}.log</file>
				<append>false</append>
				<encoder>
					<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="SIFT"/>
	</root>

	<logger name="summary" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
</configuration>